<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userDTO-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book House</title>
</head>
<body>
    <div th:fragment="footer">
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <img class="img-fluid" src="/assets/LogoBookHouseBlanco.png" alt="Logo Book House" style="height: 60px">
                                <p class="text-secondary mb-0">Tus Libros Favoritos</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a class="text-white" href="#"><i class="fas fa-copyright text-light me-2"></i>Book House</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Creado por
                        <b>
                            <a class="text-light" href="https://www.linkedin.com/in/darvy-betances-549a171b4/">
                                Darvy Betances
                            </a>
                        </b>
                            &
                        <b>
                            <a class="text-light" href="https://www.linkedin.com/in/anthony-beato-abreu-2b9a3a219/">
                                Anthony Beato
                            </a>
                        </b>
                        <br>Base de <a class="border-bottom text-light" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom text-light" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->
    </div>
</body>
</html>