<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userDTO-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book House</title>
</head>
<body>
<div th:fragment="side-nav-menu">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/admin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" th:href="@{/admin/users}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Usuarios
                    </a>
                    <a class="nav-link" th:href="@{/admin/purchases}">
                        <div class="sb-nav-link-icon"><i class="fas fa-cart-shopping"></i></div>
                        Compras
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Salir</div>
                <a th:href="@{/}" class="btn btn-outline-secondary">Ir a Inicio</a>
            </div>
        </nav>
    </div>
</div>
</body>
</html>